<ons-page id="myCache" ng-controller="myCacheController">
    <ons-toolbar>
        <div class="left">
            <ons-back-button>返回</ons-back-button>
        </div>
        <div class="center">
            我的收藏
        </div>
    </ons-toolbar>

    <section>
        <ons-row>
            <ons-col  class="orderTitleItem text-center" ng-class="{fm:$index==index}" ng-repeat="title in titles" ng-click="changeCarousel($index)">
                {{title.title}}
            </ons-col>
        </ons-row>
        <ons-carousel  var="carousels3" auto-scroll fullscreen swipeable  ons-postchange="changeDiv()">
            <ons-carousel-item ng-repeat="title in titles">
                <ons-icon icon="ion-female"></ons-icon>
                <p>{{title.title}}</p>
            </ons-carousel-item>
        </ons-carousel>
    </section>
</ons-page>