<ons-page id="community" ng-controller="communityController">
    <ons-toolbar>
        <div class="center">
            <div class="orderTitleItem" ng-class="{fm:$index==index}"
                 ng-repeat="title in titles" ng-click="changeCarousel($index)">{{title.title}}
            </div>
        </div>
    </ons-toolbar>

    <div>
        <ons-carousel var="carousels2" auto-scroll fullscreen swipeable  ons-postchange="changeDiv()">

            <ons-carousel-item id="guanZhu">
                <ons-scroller>
                    <ons-list ng-repeat="item in items1">
                        <ons-list-item>
                            <div class="head">
                                <div><img  src={{item.src}} alt=1></div>
                                <span class="span1">{{item.title}}</span>
                                <p class="p1"><span>内容：{{item.content}}</span><span>粉丝：{{item.fenSi}}</span></p>
                                <div class="and">
                                    +关注
                                </div>
                            </div>
                            <div class="music">
                                <div>
                                    <img src={{item.music1}} alt="1">
                                    <p>{{item.miaoShu1}}</p>
                                </div>
                                <div>
                                    <img src={{item.music2}} alt="1">
                                    <p>{{item.miaoShu2}}</p>
                                </div>
                                <div>
                                    <img src={{item.music3}} alt="1">
                                    <p>{{item.miaoShu3}}</p>
                                </div>
                            </div>
                        </ons-list-item>
                    </ons-list>
                </ons-scroller>

            </ons-carousel-item>

            <ons-carousel-item id="reMen">
                <ons-scroller>
                <ons-list ng-repeat="item in items2">
                    <ons-list-item ng-show="{{item.type == 1}}">
                        <div class="head">
                            <div><img  src={{item.src}} alt={{item.alt}}></div>
                            <span>{{item.title}}</span>
                        </div>
                        <div class="bg">
                            <img src={{item.bg}}>
                        </div>
                        <p class="scrap">{{item.content}}</p>
                        <p>
                            <span class="pull-left">{{item.left}}</span>
                            <span class="pull-right">
                                <ons-icon icon="ion-ios-heart-outline"></ons-icon>
                                <i>{{item.num1}}</i>
                                <ons-icon icon="ion-ios-chatbubble-outline"></ons-icon>
                                <i>{{item.num2}}</i>
                                <ons-icon icon="ion-ios-redo">
                                </ons-icon>
                            </span>
                        </p>
                    </ons-list-item>
                    <ons-list-item ng-show="{{item.type == 2}}">
                        <div class="head">
                            <div><img  src={{item.src}} alt={{item.alt}}></div>
                            <span>{{item.title}}</span>
                        </div>
                        <p class="scrap1">{{item.content}}</p>
                        <p>
                            <span class="pull-left">{{item.left}}</span>
                            <span class="pull-right">
                                <ons-icon icon="ion-ios-heart-outline"></ons-icon>
                                <i>{{item.num1}}</i>
                                <ons-icon icon="ion-ios-chatbubble-outline"></ons-icon>
                                <i>{{item.num2}}</i>
                                <ons-icon icon="ion-ios-redo">
                                </ons-icon>
                            </span>
                        </p>
                    </ons-list-item>
                </ons-list>
                </ons-scroller>
            </ons-carousel-item>

            <ons-carousel-item id="zuiXin">
                <ons-scroller>
                    <ons-list ng-repeat="item in items3">
                        <ons-list-item ng-show="{{item.type == 1}}">
                            <div class="head">
                                <div><img  src={{item.src}} alt={{item.alt}}></div>
                                <span>{{item.title}}</span>
                            </div>
                            <div class="bg">
                                <img src={{item.bg}}>
                            </div>
                            <p class="scrap">{{item.content}}</p>
                            <p>
                                <span class="pull-left">{{item.left}}</span>
                                <span class="pull-right">
                                <ons-icon icon="ion-ios-heart-outline"></ons-icon>
                                <i>{{item.num1}}</i>
                                <ons-icon icon="ion-ios-chatbubble-outline"></ons-icon>
                                <i>{{item.num2}}</i>
                                <ons-icon icon="ion-ios-redo">
                                </ons-icon>
                            </span>
                            </p>
                        </ons-list-item>
                        <ons-list-item ng-show="{{item.type == 2}}">
                            <div class="head">
                                <div><img  src={{item.src}} alt={{item.alt}}></div>
                                <span>{{item.title}}</span>
                            </div>
                            <p class="scrap1">{{item.content}}</p>
                            <p>
                                <span class="pull-left">{{item.left}}</span>
                                <span class="pull-right">
                                <ons-icon icon="ion-ios-heart-outline"></ons-icon>
                                <i>{{item.num1}}</i>
                                <ons-icon icon="ion-ios-chatbubble-outline"></ons-icon>
                                <i>{{item.num2}}</i>
                                <ons-icon icon="ion-ios-redo">
                                </ons-icon>
                            </span>
                            </p>
                        </ons-list-item>
                    </ons-list>
                </ons-scroller>
            </ons-carousel-item>
        </ons-carousel>
    </div>
</ons-page>